---
import FormattedDate from "@/components/formatted-date.astro";
import type { Post } from "@/data/post";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: Post;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
const { title, draft, description, publishDate } = post.data;
---

<FormattedDate
	class="min-w-[120px] font-semibold text-gray-600 dark:text-gray-400"
	date={publishDate}
/>
<Tag>
	{
		draft && (
			<span transition:name={`post-draft-${post.id}`} class="text-red-500">
				(Draft){" "}
			</span>
		)
	}
	<a
		class="link"
		transition:name={`post-title-${post.id}`}
		data-astro-prefetch
		href={`/posts/${post.id}/`}
	>
		{title}
	</a>
</Tag>
{withDesc && <q class="line-clamp-3 italic">{description}</q>}
